{% extends "layouts/default.html" %}

{% block content %}
  <div class="hero-unit">
    <h1>'Allo, 'Allo!</h1>
    <p>You now have</p>
    <ul>
      <li>HTML5 Boilerplate</li>
      <li>Sass</li>
      <li>Modernizr</li>
    </ul>
  </div>

  <section class="scene_header">
    <div id="tilt" class="tilt-container">
      <div id="tilt1" class="fly-in"></div>
      <div id="tilt2" class="fly-in"></div>
      <div id="tilt3" class="fly-in"></div>
    </div>
    <div id="scene" class="scene_header">
      <div id="animation"><i class="fa fa-heart"></i></div>
    </div>
  </section>


{% endblock %}
